@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }


  @keyframes enter-bottom {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0);
    }
}

  body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#5F0966 ;    /* color of the scroll thumb */
    border-radius: 20px;     /* roundness of the scroll thumb */
    border: 2px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }
  
  







*{
    margin: 0px;
    padding: 0px;
    outline: none;
    
}
body{
    background-color: rgb(0, 0, 0);
    scrollbar-color:#5F0966 ;
    font-family: 'Sora';
}




header{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-between;
}


#logo{

    width: 100px;
    padding: 25px 15px 15px 90px;

}


.logo-social{
    background-color: #5F0966;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;

}
.logo-social:hover{
    background-color: #ab69b1;
}
.logo-social img{
    width: 40px;
    height: 40px;

}

.container{
    max-width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;

}
.conteudo{
    color: white;
    font-family: 'Sora';
    text-align: center;
}
.conteudo h1{
    font-size: 40px;
    font-weight: 600;

}
.conteudo h3{
    font-size: 25px;
    font-weight: 300;

}
.btn-lucro{
    font-family: 'Poppins';
    border: none;
    background-color: #8F389D;
    padding: 15px 120px 15px 120px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight:600;
}

#seta{

    -webkit-animation: slide-bottom 2s ease-in-out 1s infinite forwards;
    animation: slide-bottom 2s ease-in-out 1s infinite forwards;
}

.box-form{
    max-width: 900px;

    background-color: white;
    border-radius: 15px;
    
    display: flex;
    flex-flow:row wrap;

    align-items: center;
    justify-content: center;
    padding: 25px;

    gap: 15px;
    font-family:"Inter";

    font-weight: 600;
    margin: 50px;

}

.box-form div{

    display: flex;
    flex-flow: column wrap;
    gap: 10px;

}
.box-form div label{

    font-family:"Inter";
    font-weight: 600;
    color: rgb(110, 110, 110);

}

.box-form div input{

    border: 0.02rem solid rgb(187, 187, 187);
    padding: 10px;
    width: 230px;
    font-family: 'Inter';
    font-weight: 600;
    border-radius: 5px;
}
#btn-sub{
    margin-top:30px ;
    width: 250px;
    height: 35px;
    border: 1px solid purple;
    border-radius: 5px;
    color: purple;


    font-family:'Sora';

    background-color: white;
    font-weight: 600;
    
}
#info-site{
    color: white;
    text-align: center;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 300;
}

/* apos resultado */
.box-result{
    animation: normal 50ms ease-in-out;
    max-width: 850px;
    min-height: 250px;

    background-color: #85009B;
    border-radius: 15px;

    color: white;
    
    display: flex;
    flex-flow:row wrap;
    /*animation: enter-bottom 3s;*/
    gap: 15px;
    font-family:"Inter";

    font-weight: 600;
    margin: 50px;
}
.detalhe-titulo{
    background-color: white;
    width: 220px;
    height: 100px ;
    color: #6c0080;
    border-radius: 10px 0px 10px 0px;

    font-size: 25px;
    padding: 15px;
}
#result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 50px;
}
#result p{
    font-size: 15px;
    font-weight: 400;
}


#container-anos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    
}
.list-ano{

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    width: 750px;
    height: 50px;
    padding: 15px;

    font-family: 'Sora';
    font-weight: 600;


    z-index: 1;
    
    border-radius: 5px;
    
}

.content-list{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    width: 750px;
    font-family: 'Inter';
    margin-right: 33px;
    margin-top: -5px;
    z-index: 0;
}

.content-list table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.content-list  th {
   width: 1750px;
  }
.content-list td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.content-list tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (max-width: 768px) {
   .list-ano{
    width: 450px;
    
} 
}


